@value ui-gray from "ui-colors";

:global(.intrinsic) {
  display: block;

  position: relative;
  width: 100%;
  height: 0;

  background-color: color(ui-gray l(96%));

  & img {
    position: absolute 0 auto auto 0;
    width: 500px;
    height: 600px;
  }
}

:global(.intrinsic.\-square) {
  padding-top: 100%;
}
